<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BricklinkData" value=""/>
    <add key="ResultsFolder" value=""/>
    <add key="CacheItemData" value="10"/>
    <add key="CacheStoreData" value="30"/>
    <add key="UseProxy" value="false"/>
    <add key="ProxyAddress" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="MaxResults" value="50"/>
    <add key="SellerMinimumItems" value="2"/>
    <add key="UseWhitelist" value="false"/>
    <add key="UseBlacklist" value="false"/>
    <add key="MaxThreads" value="3"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
